/*ul{
    display: flex;
    list-style: none;
    padding: 15px;  
}
.end{
    text-align: right;
}*/
#navigation ul {
    display: flex; /* Use Flexbox for alignment */
    list-style: none; /* Remove default bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    justify-content: space-between; /* Distribute items with space in between */
    align-items: flex-start; /* Align items vertically */
    padding: 0px 375px;
    background-color: rgb(26, 26, 46);
    color: white;
    height: 100px;      
}

#navigation li:first-child {
    margin-right: auto; /* Push the first item to the left */
}

#navigation li:not(:first-child) {
    margin-left: 20px; /* Add space between the last two items */
}
#navigation li{
    padding-top: 25px;
}

