
body{
    margin: 0px; 
    background-color: #faebd7;
}

/* Header section*/ 
nav{
    display: flex;
    justify-content: space-between;
    width: 500px;
}
header{
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: blue;
    align-items: center;
}

/* First section*/ 
#section1{
    background-color: green;
    height: 550px;    
    padding-left: 150px;  
    padding-top: 90px;
}
#dest{
    margin: 0;
    font-size: 55px;
    width: 600px;    
}
#nos{
    font-size: 20px;
    width: 600px;
    padding-bottom: 25px;
}
button{
    width: 100px;
    height: 35px;
    background-color: red;
    border: 0px;
    border-radius: 7.5px;
}

/* second section*/ 

#section2{
    background-color: gray;
    height: 550px;
    padding-top: 60px;
    text-align: center;
}
#decouvrez{
    margin: 0;
    
}






