
body{
    margin: 0px;     
}

/* Header section*/ 
nav{
    display: flex;
    justify-content: space-between;
    width: 500px;
}
header{
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: blue;
    align-items: center;
    width: 100%;
}

/* First section*/ 
#section1{
    background-color: green;
    height: 700px;    
    padding-left: 10%;  
    padding-top: 90px;
}
#dest{
    margin: 0;
    font-size: 70px;
    width: 750px;    
}
#nos{
    font-size: 30px;
    width: 750px;
    padding-bottom: 25px;

}
button{
    width: 100px;
    height: 35px;
    background-color: red;
    border: 0px;
    border-radius: 7.5px;
    margin-top: 15px;
}

/* second section*/ 

#section2{
    background-color: gray;
    height: 950px;
    padding-top: 40px;
}
#decouvrez{
    margin-bottom: 50px;
    margin-top: 30px;
    font-size: 25px;
    background-color: aqua;
    width: 400px;
    text-align: center;        
}
#decouvrez1{
    display: flex;
    justify-content: space-around;
}


.secdiv{
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 50px;
}
.subdiv1{
    width: 350px;
    height: 350px;
    background-color: azure;
    text-align: center;
}






